<div class="text-center container">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community 
  for developers and entrepeneurs to meet. Lorem ipsum dolor sit amet, 
  consectetur adipisicing elit. Cumque amet quibusdam tempore modi quidem hic 
  harum provident necessitatibus! Cum, sequi voluptate cupiditate repellat aut 
  ad voluptas ipsa ipsam magni quae.</p>
</div>