// Gem Imports
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";


// Typography Styles
h1, h2, h3 {
  font-family: 'Rubik', sans-serif;   
}


// Background Gradient
.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


// Navbar Styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00d2ff;
  }
}

// Homepage Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

